<div class="page-header">
  <h3>Empresas</h3>
</div>
<div class="container">
    <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control mr-sm-2" style="min-width:500px;" type="text" placeholder="Pesquisar por empresa"
        (click)="this.pesquisar($event)" >
    </form>
  <div class="panel panel-default" [hidden]="hideList">
    <div class="col-sm-12">
        
      <div class="row">
        
        <div *ngFor="let item of empresa" class="bordd">
          
            <div class="card text-white ">
              <div class="card-header">
                <div class="row">
                  <div class="col col-xs-3 text-right">
                    <div class="d-block">{{item.nomeUsuario}}</div>
                  </div>
                </div>
              </div>
              <div class="btn rounded-btn card-footer" [routerLink]="['/empresa/perfilEmpresa',item.Id_empresa]">
                <span class="float-left"></span>
                <a>Visualizar </a>
              </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>