<div class="search-page">
  <div class="container-fluid">
    <div class="block-context row">
      <div class="col-12 title-page">
        <h1 class="title">Editar dados do consumidor</h1>
      </div>
      <div class="col-12">
        <form autocomplete="off">
          <div class="row box-content-style">
            <div class="form-group col-md-6 campos">
              <label class="control-label">Nome</label>
              <input type="text" name="name" class="form-control" value="Bruno Pereira Machado" placeholder="Nome completo" >
            </div>
            <div class="form-group col-md-4 offset-md-2 campos">
              <label class="control-label">CPF</label>
              <input type="text" name="cpf" class="form-control" value="116.366.449-41" placeholder="CPF" >
            </div>

            <div class="form-group col-md-6 campos">
              <label class="control-label">Telefone</label>
              <input type="text" name="telefone" class="form-control" value="(38)999434811" placeholder="Telefone para contato" >
            </div>
            <div class="form-group col-md-4 offset-md-2 campos">
              <label class="control-label">Cidade</label>
              <input type="text" name="cidade" class="form-control" value="Unaí" placeholder="Cidade onde mora" >
            </div>
            <div class="form-group col-md-6 campos">
              <label class="control-label">E-mail</label>
              <input type="text" name="email" class="form-control" value="bruniro_ox@hotmail.com" placeholder="Email" >
            </div>
            <div class="col-12"></div>
            <div class="form-group col-md-4 campos">
              <label class="control-label">Senha antiga</label>
              <input type="password" class="form-control" value="bpm160596" placeholder="Senha antiga" >
            </div>
            <div class="form-group col-md-4 campos">
              <label class="control-label">Nova senha</label>
              <input type="password" class="form-control" value="bpm160596" placeholder="Nova senha" >
            </div>
          </div>
          <hr>
          <div class="col-12">
            <div class="row">
              <div class="form-group col-4">
                <button type="button" class="btn btn-success">
                  Atualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>