<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-8 offset-md-4">
      <h2>Ranking de empresas</h2>
    </div>
    <div class="card col-sm-5 ">
      <div class="card-header">
        Ranking de Empresas com maior número de reclamações
      </div>
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Empresas</th>
              <th>Número de reclamações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Eletricom</td>
              <td>120</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Cel Soft</td>
              <td>98</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Logiquant</td>
              <td>30</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Hiper Tecnolog</td>
              <td>20</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
    <div class="card col-sm-5 offset-md-1">
      <div class="card-header">
        Ranking de Empresas com maior reclamações resolvidas
      </div>
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Empresas</th>
              <th>Reclamações resolvidas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Eletricom</td>
              <td>110</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Cel Soft</td>
              <td>98</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Logiquant</td>
              <td>30</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Hiper Tecnolog</td>
              <td>19</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>