<h2>Entre em contato com os desenvolvedores</h2>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-5">Bruno Pereira Machado</h4>
    <p class="lead">Celular/Whatsapp: (38) 9.9943-4575</p>
    <p class="lead">E-mail: bruniro_ox@hotmail.com</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-5">Mateus Henrique Ferreira Costa</h4>
    <p class="lead">Celular/Whatsapp: (38) 9.9911-4200</p>
    <p class="lead">E-mail: mateushfc35@gmail.com</p>
  </div>
</div>